<div id="frmEventEntry" class="ui small modal">
  <div class="header">
    New Event
  </div>
  <div class="image content">
    <div class="image"></div>
    <form id="frmEventAdd" class="ui form" method="POST" action="/api/events" >
      <div class="description">

            <div class="field">
              <div class="ui calendar">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input id="event_date" name="event_date" type="text" placeholder="Date...">
                </div>
              </div>
            </div>
            <div class="field">
              <label>Activity Name</label>
              <input name="event_name" placeholder="Event..." type="text" size="50">
            </div>
            <div class="field">
              <label>Location</label>
              <input name="location" placeholder="Location..." type="text" size="50">
            </div>
      </div>
    </form>
  </div>
  <div class="actions">
    <button id="btnCancel" class="ui button" type="button">Cancel</button>
    <button id="btnCreateEvent" class="ui positive button" type="button">Create Event</button>
  </div>
</div>
