<div class="ui attached stackable menu">
  <div class="ui container">
    <a class="item"><i class="home icon"></i> Home</a>
    <a class="item"><i class="calendar icon"></i> Events</a>
    <a class="item"><i class="mail icon"></i> Announcement</a>
    <a class="right item">
      <a class="item"><i class="user icon"></i> Logout</a>
    </a>
  </div>
</div>
