{{> head}}
<body>
  {{> menus}}

<div class="ui internally celled grid">
  <div class="row">
    <div class="twelve wide centered column">
      <h1 class="ui header">Home</h1>

      <div>
          Text here
      </div>
    <div>
  </div>
</div>
  <script src="js/script.js"></script>
</body>
</html>
